<form [formGroup]="miFormulario" novalidate (ngSubmit)="login()" autocomplete="off">
  <div class="mb-3">
    <label for="usuario" class="form-label">Usuario</label>
    <input class="form-control" type="text" id="usuario" placeholder="Ingrese su usuario" formControlName="user" maxlength="16">
    <div *ngIf="(user?.errors && user?.dirty) || user?.touched">
      <p class="text-danger font-14" *ngIf="user?.hasError('required')">{{
        mensajesError.AUTH.USERNAME_REQUIRED }}</p>
      <p class="text-danger font-14" *ngIf="user?.hasError('minlength')">{{
        mensajesError.LONGITUD.MIN }} 3</p>
      <p class="text-danger font-14" *ngIf="user?.hasError('maxlength')">{{
        mensajesError.LONGITUD.MAX }} 16</p>
      <!-- <p class="text-danger font-14" *ngIf="user?.hasError('pattern')">{{
        mensajesError.AUTH.USERNAME_PATTERN }}</p> -->
    </div>
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Contraseña</label>
    <div class="input-group input-group-merge">
      <input type="password" id="password" class="form-control" placeholder="Ingrese su contraseña" formControlName="password" autocomplete="off">
      <div id="password-toggle" class="input-group-text" data-password="false" (click)="togglePasswordVisibility()">
        <span class="password-eye"></span>
      </div>
    </div>
    <div *ngIf="(password?.errors && password?.dirty) || password?.touched">
      <p class="text-danger font-14" *ngIf="password?.hasError('required')">{{
        mensajesError.AUTH.PASSWORD_REQUIRED }}</p>
      <p class="text-danger font-14" *ngIf="password?.hasError('minLength')">{{
        mensajesError.LONGITUD.MIN }} 3</p>
      <p class="text-danger font-14" *ngIf="password?.hasError('maxLength')">{{
        mensajesError.LONGITUD.MAX }} 18</p>
      <!-- <p class="text-danger font-14" *ngIf="password?.hasError('pattern')">{{
        mensajesError.AUTH.PASSWORD_PATTERN }}</p> -->
    </div>
  </div>

  <div class="mb-0 text-center d-grid">
    <button class="btn btn-primary" type="submit" [disabled]="miFormulario.invalid">
      <i class="mdi mdi-login"></i> Entrar
    </button>
  </div>
</form>
